NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
APP_URL=
RESEND_API_KEY=
FROM_EMAIL=
GEMINI_API_KEY=
API_GEMINI_QUIZ=
MAYAR_API_KEY=
MAYAR_API_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
